{% extends "GraphAwareAppBundle:Default:fluid.html.twig" %}

{% block inside %}

    <div class="row splash white">
        <div class="col-sm-12 center intro">
            <h1 class="splashTitle">Graphs are Everywhere, even on Github !</h1>
        </div>
        <div class="col-sm-12 center stats-counter shadowed-top">
                <div class="col-sm-2 center stat">
                    <h2 class="number usersCount odometer text-center" id="userC">13</h2>
                    <p>Users</p>
                </div>

                <div class="col-sm-2 center stat">
                    <h2 class="number reposCount odometer text-center" id="repoC">79</h2>
                    <p>Repositories</p>
                </div>

                <div class="col-sm-4 center">
                    <p>
                        <a href="{{ hwi_oauth_login_url('github') }}">
                        <img src="/bundles/graphawareapp/images/login.png"/>
                        </a>
                    </p>
                    <p class="">And discover your Github Activity Graph !</p>
                </div>

                <div class="col-sm-2 center stat">
                    <h2 class="number eventsCount odometer text-center" id="eventC">1240</h2>
                    <p>Activity Events</p>
                </div>

                <div class="col-sm-2 center stat">
                    <h2 class="number relCount odometer text-center" id="relC">13543</h2>
                    <p>Relationships</p>
                </div>
            </div>
            <hr/>
        </div>
    </div>

    <div class="row login">
        <div class="center">

        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('bundles/graphawareapp/js/app-odometer.js') }}" type="text/javascript"></script>
{% endblock %}