
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Neo4j <3 Github</title>

    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/odometer/themes/odometer-theme-default.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="{{ asset('bundles/graphawareapp/css/timeline.css') }}" rel="stylesheet"/>
    <link href="/bower_components/google-code-prettify/src/prettify.css" rel="stylesheet"/>
    <link href="/bundles/graphawareapp/css/style.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/bundles/graphawareapp/images/graphawaremini3.png"/></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_USER') %}
                    <li role="presentation"><a href="{{ path('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

    {% block content %} {% endblock content %}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/bundles/graphawareapp/js/jquery-2.1.0.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/odometer/odometer.min.js"></script>
<script src="/bundles/graphawareapp/js/timeline.js"></script>
<script src="/bower_components/google-code-prettify/src/prettify.js"></script>
{% block js %} {% endblock %}
</body>
</html>
