body {
    padding-top: 50px;
}

.main {
    text-align: center;
}

#popoto-graph {
    height: 750px;
}

.ppt-svg-graph {
    height: 750px;
}

.ppt-container-graph, #popoto-graph {
    background-color: #febfa2;
}

title {
    color: #000;
}

.ppt-node-text-root, .ppt-node-text-choose, .ppt-node-text-value, .ppt-node-text-group {
    color: #000000;
}